.forecast {
    text-align: center;
    padding-top: 5%;
  }
  
  .search {
    width: 250px;
    margin: 4px auto;
    text-align: center;
    display: inline-block;
  }

  
  .result{
    display: inline-block;
    width: 20%;
    padding: 35px;
  }